<% layout('./layout/boilerplate') -%>

  <head>
    <title>
      <%=listing.title%>
    </title>
  </head>

  <body>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <h2>
          <%=listing.title%>
        </h2>
        <img src="<%=listing.image.url%>" class="show-img" alt="<%=listing.image.filename%>">
        <p>
          <i>
            Owned by <%=listing.owner.username%>
          </i>
        </p>
        <p>
          <%=listing.description%>
        </p>
        <h5>
          price: &#8377;<%=listing.price.toLocaleString('en-IN')%>/night
        </h5>
        <p>
          <b>
            <%=listing.location%>
          </b> in
          <b>
            <%=listing.country%>
          </b>
        </p>
        <%if(currUser && currUser._id.equals(listing.owner._id)){%>
          <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark">Edit</a>
          &nbsp;&nbsp;&nbsp;
          <a href="/listings/<%=listing._id%>/delete" class="btn btn-danger">Delete</a>
          <%}%>
      </div><br><br>
    </div>
    <hr>
    <%if(currUser){%>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <h1>Leave a Review:</h1><br>
          <form action="/listings/<%=listing._id%>/review" method="post" class="needs-validation" novalidate>
            <div>
              <label for="rating" class="form-label">Rating:</label>
              <fieldset class="starability-growRotate offset-1">
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" checked />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div>
              <label for="comment" class="form-label">Comment:</label>
              <textarea id="comment" name="review[comment]" class="form-control offset-1" placeholder="sweat place"
                required></textarea>
              <div class="invalid-feedback">
                Please give a comment.
              </div>
            </div>
            <br>
            <input type="submit" class="btn btn-dark" value="Post">
          </form>
        </div>
      </div><br>
      <hr>
      <%}%>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-sm-10">
            <div class="row">
              <h3>Reviews:</h3><br>
              <%if(listing.reviews.length){for (review of listing.reviews){%>
                <div class="card col-md-5 col-sm-6 col-xs-12 m-2">
                  <div class="card-body">
                    <h5 class="card-title">
                      @<%=review.author.username%>
                    </h5>
                    <p class="starability-result card-subtitle" data-rating="<%=review.rating%>">
                      Rated: <%=review.rating%> stars
                    </p>
                    <p class="card-text">
                      comment: <%=review.comment%>
                    </p>
                    <%if(currUser && currUser._id.equals(review.author._id)){%>
                      <a href="/listings/<%=listing._id%>/review/<%=review._id%>/delete"
                        class="btn btn-dark p-1">Delete</a>
                      <%}%>
                  </div>
                </div>
                <%}}else{%>
                  no reviews
                  <%}%>
            </div>
          </div>
        </div><br>
  </body>